body {
  background-color: #00bbff;
  color: #bec0c2;
}
.Blub {
  /* background-image: url("./blob-1.gif"); */
  background-image: url("../public/media/blob-1.svg");
  /* background-color: #00bbff; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.App {
  background-color: #00bbff;
}
.App-2 {
  background-color: blue;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
  z-index: 999999;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #ffffff;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 99999999999 !important;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0.168);
  transform-origin: 0%;
  transform: rotate(0deg);
}

.EX {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0 !important;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}